<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whose Flag Is It Anyway?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="wrapper">
        <div class="container d-flex justify-content-center">
            <div class="page-header" style="text-align: justify;">
                <h1>Whose Flag Is It Anyway?</h1>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="panel panel-default" style="text-align: justify;">
                <div class="panel-body">
                    Please upload a photo containing any flag to identify which country it belongs to!
                </div>
            </div>
        </div>

        <div style="padding-bottom: 5%;"></div>

        <div class="container d-flex justify-content-center">
            <div class="container col-md-6">
                <div class="mb-5">
                    <form enctype='multipart/form-data' action='/find_country/' method='POST'>
                        <label for="Image" class="form-label">Upload an image containing a flag</label>
                        <input class="form-control" type="file" accept=".jpg,.png" id="formFile" name="user_image" onchange="preview()">
                        <br>
                        <button onclick="showSpinner()" class="btn btn-primary" id="get_country_button" disabled='true'>Get Country Name</button>
                        <button class="btn btn-primary" type="button" id='spinning_button' disabled style='display: none;'>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        </button>
                    </form>
                    <button onclick="clearImage()" disabled='false' class="btn btn-primary mt-3" id='clear_button'>Clear</button>
                </div>
                <img id="frame" src="" class="img-fluid" al="User Image" />
                {% if country_name %}
                    <p id="output">This flag belongs to {{ country_name}}!</p>
                    <img id="output_flag" src="{{ flag }}" class="img-fluid" alt="Official Flag of {{ country_name }}" />
                {% endif %}
                <p id="output_error" style="display: none; color: red;">{{ country_name }}</p>
            </div>
        </div>
    </div>
    <div class="footer">
        Impressed? Check out my <a href="https://github.com/zevrosenbaum" target="_blank" 
            title="GitHub Link: https://github.com/zevrosenbaum">GitHub</a> and 
            <a href="https://www.linkedin.com/in/zevrosenbaum82" target="_blank" 
            title="LinkedIn Link: https://www.linkedin.com/in/zevrosenbaum82">LinkedIn Profile</a>.
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        isClear = False;
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
            document.getElementById('get_country_button').disabled=false;
            document.getElementById('clear_button').disabled=false;
        }

        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }

        function showSpinner() {
            document.getElementById('get_country_button').style.display='none';
            document.getElementById('spinning_button').style.display='block';
        }

    </script>

    </body>
</html>